.intro-container {
    height:300px;
    width:auto;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 130px; /* Center the text */
    animation: typing 2s steps(40, end);
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  